from setuptool import setup, find_packages

setup(
    name="sample",
    version="0.1.0",
    packages=find_packages(),
    install_requires=[<% _.forEach(dependencies, function(dependency) { %>
        "<%= dependency.name %>==<%= dependency.version %>
    <% }); %>],
)